/*---メモ---*/

/*デスクトップ用をスマホ用の二つの画面を作成する。*/
/*可変については考えなくてよい！！！！！*/

/*文字、ボタンetcについて：PCは幅を変えたい(width)、高さは変えない(height)*/

/*ディスプレイサイズに合わせて可変にする
→vw:幅の何％か、vh:高さの何％か*/

/*フォントサイズを可変にする関数
→clamp関数…font-size: clamp(最小値, 推奨値, 最大値);*/


/*h1タグ*/

.h11{

    font-family:'游明朝 Medium', serif;
    text-align:center;
    font-weight:bolder;
    font-size:smaller;
    
}

/*h2タグ*/

.h22{   
    
    
    font-family:'游明朝 Medium', serif;
    text-align:center;
    font-weight:bolder;
    
    color:#3CB371;
    font-family: '游明朝 Medium', serif;
    font-size:smaller;

}

/*切り替えボタン*/

.change_pc{

    position: absolute;
    top: 0.5%;
    right: 1%;

    width: 11%; /*--幅--*/
    padding: 0.8%; /*--余白--*/
    border-radius: 5px; /*--角丸--*/  
    background-color:lavender;/*--背景色--*/
    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;
    font-size:x-small;
}

.change_phone{

    position: absolute;
    top: 0.5%;
    right: 12%;

    width: 11%; /*--幅--*/
    padding: 0.8%; /*--余白--*/
    border-radius: 5px; /*--角丸--*/  
    background-color:lavender;/*--背景色--*/
    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;
    font-size:x-small;
}



/*-----出発地-----*/

/*出発地の文字*/

#start{

    position: absolute;
    top: 13%;
    left: 3%;

    font-size: clamp(10px,4vw,25px);

    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;
    
}

/*出発地の入力するテキストボックス*/

#startword{

    position: absolute;
    top: 15%;
    left: 16%;

    text-align: center;
    width: 55%; /*--幅--*/
    padding: 0.5%; /*--余白--*/
    border: solid 2px #cccccc; /*--ボーダー線--*/
    border-radius: 5px; /*--角丸--*/ 
    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;
    font-size: medium;

}

/*出発地の確定ボタン*/

#startconfirm{

    position: absolute;
    top: 15%;
    right: 15%;

    width: 12%; /*--幅--*/
    padding: 0.8%; /*--余白--*/
    border-radius: 5px; /*--角丸--*/ 
    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;
    font-size:small;

}

/*出発地のクリア*/

#startclear{

    position: absolute;
    top: 15%;
    right: 3%;

    width: 12%; /*--幅--*/
    padding: 0.8%; /*--余白--*/
    border-radius: 5px; /*--角丸--*/ 
    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;
    font-size:small;

}

/*-----目的地-----*/

/*目的地の文字*/

#end{

    position: absolute;
    top: 18%;
    left: 3%;

    font-size: clamp(10px,4vw,25px);

    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;

}

/*目的地の入力するテキストボックス*/

#endword{

    position: absolute;
    top: 20%;
    left: 16%;

    text-align: center;
    width: 55%; /*--幅--*/
    padding: 0.5%; /*--余白--*/
    border: solid 2px #cccccc; /*--ボーダー線--*/
    border-radius: 5px; /*--角丸--*/ 
    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;
    font-size: medium;

}

/*目的地の確定ボタン*/

#endconfirm{

    position: absolute;
    top: 20%;
    right: 15%;

    width: 12%; /*--幅--*/
    padding: 0.8%; /*--余白--*/
    border-radius: 5px; /*--角丸--*/ 
    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;
    font-size:small;

}

/*目的地のクリア*/

#endclear{

    position: absolute;
    top: 20%;
    right: 3%;

    width: 12%; /*--幅--*/
    padding: 0.8%; /*--余白--*/
    border-radius: 5px; /*--角丸--*/ 
    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;
    font-size:small;

}


/*ご意見ボタン*/

input[type="button"]{

    position:absolute;
    bottom: 3%;
    left: 9%;
    
    text-align: center;
    
    width: 83%; /*--幅--*/
    padding: 1%; /*--余白--*/
    border-radius: 5px; /*--角丸--*/ 
    background-color:lightgoldenrodyellow; /*--背景色--*/
    font-family: '游明朝 Medium', serif;
    font-weight:bolder;
    font-size:medium;

}

      
/*mapのサイズを変更することは不可能であったため、ページのサイズから％で指定して調節した*/

  #map{

    top: 36%;
    width: 100%;
    bottom:32%;
    /*height: 5%;*/
   
    position:absolute;

  }
  /*以下、検索機能とデフォルトマーカー表示機能のcss*/
  html,
  body {
    height: 70%;
    margin: 0;
    padding: 0;
  }

  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    height: 45px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }

  #target {
    width: 345px;
  }

  /*ここから下はAPIを使わないバージョンのために追記したもの（本来は必要なし）*/

  iframe {
	width: 100%;
	height: 100%;
}


/*ここから下はAPIを使わないバージョンのために追記したもの（本来は必要なし）*/


  iframe {
	width: 100%;
	height: 100%;
}

