/*---メモ---*/
/*cssの記述を『position:absolute』ではなく、『display:flex』に変更する！*/


  /*h1タグのコンテナ*/
  /*.flex_container_h1{
  
    display: flex;
    justify-content: center;
       
  }
  
  /*h2タグのコンテナ*/
  /*.flex_container_h2{
  
    display: flex;
   justify-content: center;
  
  }
*/

html{
  background-color:rgba(255, 255, 0, 0.1);
}

  /*切り替えボタンのコンテナ*/
  .flex_container_change{
  
    display: flex;
    justify-content: flex-end;
    
      
  }
  
  /*入力ボタン諸々のコンテナ*/
  .flex_container_word{
  
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 1%;
         
  }

    /*検索・クリアボタンのコンテナ*/
    .flex_container_button{
  
      display: flex;
      align-items:center;
      justify-content:center;
      gap: 50px;
     
           
    }
  

  /*.flex_container_seachbox{            mapをflexなしで記述したら反映されなくなったため不要*/

    /*display: flex;
    justify-content: flex-end;

  }*/
  
  /*意見画面に遷移ボタンのコンテナ*/
  .flex_container_opinion{
  
      display: flex;
      justify-content:center;
      margin: 5%;
      
  }
  
  /*一覧表示のコンテナ*/
  
  .sort_container{
  
    display: flex;
    justify-content: center;
    margin-top: 20%;
  
  }
  
  /*h1タグ*/  /*h11クラス削除と編集（1/19）*/
  
  h1{ 

      text-align: center;
      font-family:'游明朝 Medium', serif;
      font-weight:bolder;
      font-size:65px;
      margin-block-end: 0px;
      padding: 0px;   
         
  }
  
  /*h2タグ*/  /*h22クラス削除と編集（1/19）*/
  
  h2{        
      
      margin-top: 20px;
      margin-block-end: 50px;
      padding: 0px;
      text-align: center;
      font-family:'游明朝 Medium', serif;
      font-weight:bolder;
      color:#3CB371;
      font-family: '游明朝 Medium', serif;
      font-size:40px;
      
  } 
  
  
  /*切り替えボタン*/
  
  .change{
      
      text-align: center;
      width: 100px; /*--幅--*/
      padding: 10px; /*--余白--*/
      border-radius: 5px; /*--角丸--*/ 
      background-color:lavender;/*--背景色--*/
      font-family: '游明朝 Medium', serif;;
      font-weight:bolder;
      font-size:large;
  }
  
  
  
  /*-----出発地-----*/
  
  /*出発地の文字*/
  
  #start{
  
      font-family:'游明朝 Medium', serif;
      text-align:center;
      font-size:xx-large;
      font-weight:bolder;
  
  }
  
  /*出発地の入力するテキストボックス*/
  
  #inputBegin{
     
      text-align: center;
      width: 600px; /*--幅--*/
      padding: 15px; /*--余白--*/
      border: solid 2px #cccccc; /*--ボーダー線--*/
      border-radius: 5px; /*--角丸--*/ 
      font-family: '游明朝 Medium', serif;;
      font-weight:bolder;
      font-size: x-large;
  }
  
  /*検索ボタン*/
  
  #searchButton{
      
      width: 140px; /*--幅--*/
      padding: 2px; /*--余白--*/
      border-radius: 5px; /*--角丸--*/ 
      font-family: '游明朝 Medium', serif;;
      font-weight:bolder;
      font-size:xx-large;
  
  }

  /*ボタンを押したとき*/
  #seachButton:active{

  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/

  }

  /*クリアボタン*/
  
  #startclear{
  
      width: 140px; /*--幅--*/
      padding: 2px; /*--余白--*/
      border-radius: 5px; /*--角丸--*/ 
      font-family: '游明朝 Medium', serif;;
      font-weight:bolder;
      font-size:xx-large;
  
  }
/*ボタンを押したとき*/
  #startclear:active{

  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/

  }
  
  /*-----目的地-----*/
  
  /*目的地の文字*/
  
  #ends{
  

    font-family:'游明朝 Medium', serif;
    text-align:center;
    font-size:xx-large;
    font-weight:bolder;
  
  }
  
  /*目的地の入力するテキストボックス*/
  
  #inputEnd{
      
      text-align: center;
      width: 600px;
      padding: 15px; /*--余白--*/
      border-radius: 5px; /*--角丸--*/ 
      border: solid 2px #cccccc; /*--ボーダー線--*/
      font-family: '游明朝 Medium', serif;
      font-weight:bolder;
      font-size:x-large;
  }

  /*-----経由地-----*/
  
  /*経由地の文字*/
  
  #stop{
  
    font-family:'游明朝 Medium', serif; 
    text-align:center;
    font-size:xx-large;
    font-weight:bolder;

}

/*経由地の入力するテキストボックス*/

#inputStop{
    
    text-align: center;
    width: 600px;
    padding: 15px; /*--余白--*/
    border-radius: 5px; /*--角丸--*/ 
    border: solid 2px #cccccc; /*--ボーダー線--*/
    font-family: '游明朝 Medium', serif;
    font-weight:bolder;
    font-size:x-large;
}
  
/*矢印を消した(1/16変更)*/

#comment{
  text-align: center;
  font-family: '游明朝 Medium', serif;
    font-weight:bolder;
    font-size:x-large;
}

  /*ご意見ボタン*/
  
  input[type="button"]{   
      
      width: 68%;
      padding: 20px; /*--余白--*/
      border-radius: 5px; /*--角丸--*/ 
      /*background-color:rgb(250, 250, 210); /*--背景色--*/
      font-family: '游明朝 Medium', serif;
      font-weight:bolder;
      font-size:xx-large;

      margin-bottom: 10%;
  
  }

  /*ボタンを押したとき*/
  input[type="button"]:active{
 
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
  }
     
  
  /*mapのサイズを変更することは不可能であったため、ページのサイズから％で指定して調節した*/
  
  #map{
  
    width: 92%;
    height: 80%;
    margin-left: 4%;
    }
    
      
    /*ここから下はAPIを使わないバージョンのために追記したもの（本来は必要なし）*/
  
    /*iframe {
    width: 100%;
    height: 100%;
  }
  */
  
   
  
  
  /*以下、検索機能とデフォルトマーカー表示機能のcss*/
  html,
  body {
    height: 70%;
    margin: 0;
    padding: 0;
  }
  
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
  
    text-align: center;
    font-family: '游明朝 Medium', serif;
  
    background-color: #fff;
    /*font-family: Roboto;*/
    font-size: 18px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 40%;
    height: 45px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }
  
  /*ここから下はAPIを使わないバージョンのために追記したもの（本来は必要なし）*/
  
  iframe {
  width: 100%;
  height: 100%;
  }
  
  /*以下、サービス提供施設の一覧表示機能のcss*/
  
  #sampleTable2  th {
    border : 1px solid #666;
  }
  
  #sampleTable2  td {
    border : 1px solid #666;
  }
  
  .allNoDisplay2 tr:not(.colTitle) {
    display: none;
  }
  
 /*チェックボックスの部分*/  /*12/23更新*/
 input[type="checkbox"] {
  transform: scale(1.9); /*--チェックボックスの大きさ変更--*/
}

/*↓tableのrow(横並び)のような要素を形成する*/
  .kbaby2    tr[kbaby]{
    display: table-row;
  }
  
  .kuruma2  tr[kuruma]{
    display: table-row;
  }
  
  .knyutenok2   tr[knyutenok]{
    display: table-row;
  }
  
  .ksheet2   tr[ksheet]{
    display: table-row;
  }
  
  .dansang2   tr[dansang]{
    display: table-row;
  }
  
  .babyroom2   tr[babyroom]{
    display: table-row;
  }
  
  .kidsroom2   tr[kidsroom]{
    display: table-row;
  }
  
  .omutu2   tr[omutu]{
    display: table-row;
  }
  
  .kyukei2   tr[kyukei]{
    display: table-row;
  }
  
  .tesuri2   tr[tesuri]{
    display: table-row;
  }
  
  .osuto2   tr[osuto]{
    display: table-row;
  }
  
  .kyugo2   tr[kyugo]{
    display: table-row;
  }
  
  
  .categori{
    color: rgb(1, 145, 49);                       /*カテゴリーの文字の色を変更*/
  }
  
  #ue{
    border-style:none;                              /*一番上のセルの背景色を変更*/
    background-color: rgb(239, 255, 238);    
  }
  
  /*一覧表示のテーブル*/
  
  #sortTable{
  
    text-align: left;    /*文字を左詰め*/
    font-size: 18px;    /*文字の大きさを指定*/  /*12/23更新*/
      
    width: 75%;
    
    display: block;
    overflow-y: scroll;
    overflow-x: scroll;
    /*right: 25%;
    height: 50%;         /*スクロールバーの表示(いらなければ消していい)*/
  
  }