/*---メモ---*/

/*全体の画面大きさの分割*/

.container{
  display: flex;
  justify-content:flex-end;
  }
  
  /*画面右側の分割サイズ指定*/
  
  .bun1_container{
    width: calc(100% * 3/8);
  }
  
  /*画面左側の分割サイズ指定*/
  
  .bun2_container{
    width: calc(100% * 5/8);
  }

  /*以下1/17更新*/

  .container_group{
    display: flex;
    justify-content:flex-end;
  }
  /*文字入力の左側の分割サイズ指定*/
  
  .container_left{
    width: calc(100% * 1/2);
  }

  /*文字入力の左側の分割サイズ指定*/
  
  .container_right{
    width: calc(100% * 1/2);
  }
  /*ここまで*/

  /*h1タグのコンテナ*/
  .flex_container_h1{
    display: flex;
    margin-left: 65%;
  }
  
  /*h2タグのコンテナ*/
  .flex_container_h2{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 58%;
  }
  
  /*切り替えボタンのコンテナ*/
  .flex_container_change{
    display: flex;
    justify-content: flex-end;
  } 

  /*出発地のコンテナ*/  /*1/17に変更した*/
  .flex_container_word1{
    display: flex;
    align-items:center;
    justify-content: flex-end;/*1/17の変更部分*/
    gap: 1.5%;/*←gap：幅の調整*/  

  } 

  /*目的地のコンテナ*/  /*1/17に変更した*/
  .flex_container_word2{
    display: flex;
    align-items:center; 
    justify-content: flex-end;/*1/16に変更部分*/
    gap: 1.5%;/*←gap：幅の調整*/   
  }
  
  /*経由地と検索・クリアのコンテナ*/  /*1/17に変更した*/
  .flex_container_word3{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    margin-top:6%;                     /*中央寄せが出来なかったため、とりあえずmarginで調整(1/17)*/
    gap: 1.5%;/*←gap：幅の調整*/   
  }

  .group{
    display: flex;
    justify-content: center;
  }

/*以下、変更部分*/
/*矢印を消した(1/16変更)*/

  /*.flex_container_seachbox{            mapをflexなしで記述したら反映されなくなったため不要*/

    /*display: flex;
    justify-content: flex-end;
  }*/

/*ここまで*/

  /*検索ボックスのコンテナ*/  

  .flex_container_seachbox{
    display: flex;
    align-items:center;
    
    gap: 1.5%;
  }
  
  /*意見画面に遷移ボタンのコンテナ*/
  .flex_container_opinion{
      display: flex;
      justify-content:center;
      margin: 10%;
  }
  
  /*一覧表示のコンテナ*/
  
  .sort_container{
    display: flex;
    justify-content: center;
    margin-top: 20%;
  }

  html{
    /*background-color:rgba(255, 255, 0, 0.08);*/
    background-image: url("kohacu.com_001967_20181119.png");
    height: 100%;
    width: 100%;
    background-color:rgba(240, 255, 255, 0.65);
    background-blend-mode:lighten;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
   
 
  /*h1タグ*/
  
  .h11{ 
      font-family:'游明朝 Medium', serif;
      font-weight:bolder;
      font-size: larger;
      color: white;
      /*text-shadow: 3px 3px 15px #323232,
      -1px 1px 5px #323232,
      1px -1px 5px #323232,
      -1px -1px 5px #323232;*/

      text-shadow: 3px 3px 3px #000C32	,
      -1px 1px 3px 	#000C32,
      1px -1px 3px 	#000C32,
      -1px -1px 3px #000C32;
     
  }
  
  /*h2タグ*/

  .h22{        
        
    font-family:'游明朝 Medium', serif;
    font-weight:bolder;
    color:white;
    font-family: '游明朝 Medium', serif;
    font-size:large;
    text-shadow: 3px 3px 3px #000C32	,
    -1px 1px 3px 	#000C32,
    1px -1px 3px 	#000C32,
    -1px -1px 3px #000C32;
    
}   
  
  /*切り替えボタン*/
  
  .change{
      text-align: center;
      width: 80px; /*--幅--*/
      padding: 10px; /*--余白--*/
      border-radius: 5px; /*--角丸--*/ 
      background-color:lavender;/*--背景色--*/
      font-family: '游明朝 Medium', serif;;
      font-weight:bolder;
      font-size:small;
      box-shadow: 15px 10px 15px -12px #4C4C4C;
  }
  
    
  /*-----出発地-----*/
  
  /*出発地の文字*/
  
  #start{
  
      display: flex;
      font-family:'游明朝 Medium', serif;
      text-align:center;
      font-size:x-large;
      color: white;
      text-shadow: 3px 3px 3px #000C32	,
      -1px 1px 3px 	#000C32,
      1px -1px 3px 	#000C32,
      -1px -1px 3px #000C32;
  
  
  }
  
  /*出発地の入力するテキストボックス*/
  
  #inputBegin{
     
      text-align: center;
      width: 320px; /*--幅--*/
      padding: 6px; /*--余白--*/
      border: solid 2px #cccccc; /*--ボーダー線--*/
      border-radius: 5px; /*--角丸--*/ 
      font-family: '游明朝 Medium', serif;;
      font-weight:bolder;
      font-size: large;
      box-shadow: 20px 15px 20px -15px #000C32;
   
  }

  /*経由地の文字*/  /*1/16に追加*/

  #stop{

    display: flex;
    font-family:'游明朝 Medium', serif;
    text-align:center;
    font-size:x-large;
    color: white;
    text-shadow: 3px 3px 3px #000C32	,
    -1px 1px 3px 	#000C32,
    1px -1px 3px 	#000C32,
    -1px -1px 3px #000C32;


  }

/*経由地を入力するテキストボックス*/  /*1/16に追加*/

  #inputStop{
 
    text-align: center;
    width: 320px; /*--幅--*/
    padding: 6px; /*--余白--*/
    border: solid 2px #cccccc; /*--ボーダー線--*/
    border-radius: 5px; /*--角丸--*/ 
    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;
    font-size: large;
    box-shadow: 20px 15px 20px -15px #000C32;

  }
  
  /*検索ボタン*/
  
  #searchButton{
      
      width: 70px; /*--幅--*/
      padding: 7px; /*--余白--*/
      border-radius: 5px; /*--角丸--*/ 
      font-family: '游明朝 Medium', serif;;
      font-weight:bolder;
      font-size:medium;
      box-shadow: 20px 15px 20px -15px #000C32;
  
  }

   /*ボタンを押したとき*/
   #seachButton:active{

    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  
    }
  
  /*クリアボタン*/
  
  #startclear{
  
      width: 70px; /*--幅--*/
      padding: 7px; /*--余白--*/
      border-radius: 5px; /*--角丸--*/ 
      font-family: '游明朝 Medium', serif;;
      font-weight:bolder;
      font-size: medium;
      box-shadow: 20px 15px 20px -15px #000C32;
  
  }
    
  /*ボタンを押したとき*/
  #startclear:active{

    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  
    }

  /*-----目的地-----*/
  
  /*目的地の文字*/
  
  #ends{
  
      display: flex;
      font-family:'游明朝 Medium', serif;
      font-size:x-large;
      color: white;
      text-shadow: 3px 3px 3px #000C32	,
      -1px 1px 3px 	#000C32,
      1px -1px 3px 	#000C32,
      -1px -1px 3px #000C32;
  
  }
  
  /*目的地の入力するテキストボックス*/
  
  #inputEnd{
            
    text-align: center;
    width: 320px; /*--幅--*/
    padding: 6px; /*--余白--*/
    border: solid 2px #cccccc; /*--ボーダー線--*/
    border-radius: 5px; /*--角丸--*/ 
    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;
    font-size: large;
    box-shadow: 20px 15px 20px -15px #000C32;
  }

  .point{
    text-align: center;
    font-family: '游明朝 Medium', serif;;
    font-weight:bolder;
    font-size: larger;
  }
  
 /*矢印を消した(1/16変更)*/
  
  /*ご意見ボタン*/
  
  input[type="button"]{   
      
      width: 380px;
      padding: 10px; /*--余白--*/
      border-radius: 5px; /*--角丸--*/ 
      /*background-color:lightgoldenrodyellow; /*--背景色--*/
      font-family: '游明朝 Medium', serif;
      font-weight:bolder;
      font-size:large;
      box-shadow: 20px 15px 20px -15px #000C32;
  
  }
     
    /*ボタンを押したとき*/
    input[type="button"]:active{
 
      -webkit-transform: translateY(4px);
      transform: translateY(4px);/*下に動く*/
      border-bottom: none;/*線を消す*/
      }
  
  /*mapのサイズを変更することは不可能であったため、ページのサイズから％で指定して調節した*/
  
  /*変更した（12/21）*/
  #map{
  
    width: 90%;
    height: 80%;
    left: 10%;
    box-shadow: 20px 15px 20px -15px #000C32;
    border: solid 2px black; /*--ボーダー線--*/

    }

    #space{
      width: 90%;
    height: 80%;
    }
    
  
    /*ここから下はAPIを使わないバージョンのために追記したもの（本来は必要なし）*/
  
    /*iframe {
    width: 100%;
    height: 100%;
  }
  */
  
   
  table{
    background-color:white;
    box-shadow: 20px 15px 20px -15px #000C32;
  }
  
  
  /*以下、検索機能とデフォルトマーカー表示機能のcss*/
  html,
  body {
    height: 70%;
    margin: 0;
    padding: 0;
  }
  
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;/*--角を丸める--*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
  
    text-align: center;
    font-family: '游明朝 Medium', serif;
  
    background-color: #fff;
    /*font-family: Roboto;*/
    font-size: 18px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 40%;
    height: 45px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }
  
  /*ここから下はAPIを使わないバージョンのために追記したもの（本来は必要なし）*/
  
  iframe {
  width: 100%;
  height: 100%;
  }
  
  
  /*以下、サービス提供施設の一覧表示機能のcss*/

#sampleTable2 th {
  border: 1px solid #666;
}

#sampleTable2 td {
  border: 1px solid #666;
}

.allNoDisplay2 tr:not(.colTitle) {
  display: none;
}

/*チェックボックスの部分*/ /*12/23更新*/
input[type="checkbox"] {
  transform: scale(1.5); /*--チェックボックスの大きさ変更--*/
}

/*↓tableのrow(横並び)のような要素を形成する*/
/* .kbaby2    tr[kbaby]{
    display: table-row;
  }
  
  .kuruma2  tr[kuruma]{
    display: table-row;
  }
  
  .knyutenok2   tr[knyutenok]{
    display: table-row;
  }
  
  .ksheet2   tr[ksheet]{
    display: table-row;
  }
  
  .dansang2   tr[dansang]{
    display: table-row;
  }
  
  .babyroom2   tr[babyroom]{
    display: table-row;
  }
  
  .kidsroom2   tr[kidsroom]{
    display: table-row;
  }
  
  .omutu2   tr[omutu]{
    display: table-row;
  }
  
  .kyukei2   tr[kyukei]{
    display: table-row;
  }
  
  .tesuri2   tr[tesuri]{
    display: table-row;
  }
  
  .osuto2   tr[osuto]{
    display: table-row;
  }
  
  .kyugo2   tr[kyugo]{
    display: table-row;
  } */
/* 変更 */

.categori {
  color: navy; /*カテゴリーの文字の色を変更*/
}

#ue {
  border-style: none; /*一番上のセルの背景色を変更*/
  background-color: azure;
}


/*--colTitle部分の色指定--*/
.color1{
  background-color: lightyellow;
}
.color2{
  background-color: papayawhip;
}
.color3{
  background-color: honeydew;
}
.color4{
  background-color: aliceblue;
}

/*一覧表示のテーブル*/

#sortTable {
  text-align: left; /*文字を左詰め*/
  font-size: 12px; /*文字の大きさを指定*/ /*12/23更新*/

  width: 77%; /*12/23更新*/

  display: block;
  overflow-y: scroll;
  overflow-x: scroll;
  /*right: 25%;
    height: 50%; /* スクロールバー表示*/
}