/*---メモ---*/
/*cssの記述を『position:absolute』ではなく、『display:flex』に変更する！*/

html{
     /*background-color:rgba(255, 255, 0, 0.08);*/
     background-image: url("sky.png");
     height: 100%;
     width: 100%;
     font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
     background-blend-mode:lighten;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}

table{
  background-color: white;
  box-shadow: 20px 15px 20px -15px 	#4C4C4C;
}

  
  /*切り替えボタンのコンテナ*/
  .flex_container_change{
  
    display: flex;
    justify-content: flex-end;
      
  }
  
  /*入力ボタン諸々のコンテナ*/
  .flex_container_word{
  
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 1%;
         
  }

    /*検索・クリアボタンのコンテナ*/
    .flex_container_button{
  
      display: flex;
      align-items:center;
      justify-content:center;
      gap: 50px;
     
           
    }
  
  /*意見画面に遷移ボタンのコンテナ*/
  .flex_container_opinion{
  
      display: flex;
      justify-content:center;
      margin: 5%;
      
  }
  
  /*一覧表示のコンテナ*/
  
  .sort_container{
  
    display: flex;
    justify-content: center;
    margin-top: 5%;
  
  }
  
  /*h1タグ*/  /*h11クラス削除と編集*/
  
  h1{ 

    text-align: center;
    font-weight:bolder;
    font-size:65px;
    margin-block-end: 0px;
    padding: 0px;  
    color: white;
    text-shadow: 3px 3px 3px 		#001965	,
    -1px 1px 3px 			#001965,
    1px -1px 3px 			#001965,
    -1px -1px 3px 		#001965;
       
}
  
  /*h2タグ*/
  
  h2{        
      
    margin-top: 20px;
    margin-block-end: 50px;
    padding: 0px;
    text-align: center;
    font-weight:bolder;
    color:white;
    font-size:40px;

    text-shadow: 3px 3px 3px 	#001965	,
    -1px 1px 3px 		#001965,
    1px -1px 3px 		#001965,
    -1px -1px 3px 	#001965;
    
} 
  
  /*切り替えボタン*/
  
  .change{
      
      text-align: center;
      width: 100px; /*--幅--*/
      padding: 10px; /*--余白--*/
      border-radius: 5px; /*--角丸--*/ 
      background-color:lavender;/*--背景色--*/
      font-weight:bolder;
      font-size:large;
      box-shadow: 15px 10px 15px -12px #4C4C4C;
  }
  
  
  
  /*-----出発地-----*/
  
  /*出発地の文字*/
  
  #start{
  
      text-align:center;
      font-size:xx-large;
      font-weight:bolder;
      color: white;
      text-shadow: 3px 3px 3px #000C32	,
      -1px 1px 3px 		#001965,
      1px -1px 3px 		#001965,
      -1px -1px 3px 	#001965;
  
  }
  
  /*出発地の入力するテキストボックス*/
  
  #inputBegin{
     
      text-align: center;
      width: 600px; /*--幅--*/
      padding: 15px; /*--余白--*/
      border: solid 2px #cccccc; /*--ボーダー線--*/
      border-radius: 5px; /*--角丸--*/ 
      font-weight:bolder;
      font-size: x-large;
      box-shadow: 20px 15px 20px -15px #000C32;
  }
  
  /*検索ボタン*/
  
  #searchButton{
      
    width: 140px; /*--幅--*/
    padding: 2px; /*--余白--*/
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0;
    background: #fff;
    /*font-family: '游明朝 Medium', serif;;*/
    font-weight:bolder;
    font-size:xx-large;
    border-radius: 20px 20px 20px 20px;

  }
  #searchButton.btn-border:hover {
    color: rgb(0, 0, 0);
    background: rgb(97, 255, 215);
  }

  /*クリアボタン*/
  
  #startclear{
  
    width: 140px; /*--幅--*/
    padding: 2px; /*--余白--*/
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0;
    background: #fff;
    /*font-family: '游明朝 Medium', serif;;*/
    font-weight:bolder;
    font-size:xx-large;
    border-radius: 20px 20px 20px 20px;
  
  }

  /*ボタンを押したとき*/
  #startclear.btn-border:hover {
    color: rgb(0, 0, 0);
    background: rgb(97, 255, 215);
  }
  
  /*-----目的地-----*/
  
  /*目的地の文字*/
  
  #ends{
  
    text-align:center;
    font-size:xx-large;
    font-weight:bolder;
    color: white;
    text-shadow: 3px 3px 3px #000C32	,
    -1px 1px 3px 		#001965,
    1px -1px 3px 		#001965,
    -1px -1px 3px 	#001965;
  
  }
  
  /*目的地の入力するテキストボックス*/
  
  #inputEnd{
      
      text-align: center;
      width: 600px;
      padding: 15px; /*--余白--*/
      border-radius: 5px; /*--角丸--*/ 
      border: solid 2px #cccccc; /*--ボーダー線--*/
      font-weight:bolder;
      font-size:x-large;
      box-shadow: 20px 15px 20px -15px 	#001965;
  }

  /*-----経由地-----*/
  
  /*経由地の文字*/
  
  #stop{
  
    text-align:center;
    font-size:xx-large;
    font-weight:bolder;
    color: white;
    text-shadow: 3px 3px 3px #000C32	,
    -1px 1px 3px 		#001965,
    1px -1px 3px 		#001965,
    -1px -1px 3px 	#001965;

}

/*経由地の入力するテキストボックス*/

#inputStop{
    
    text-align: center;
    width: 600px;
    padding: 15px; /*--余白--*/
    border-radius: 5px; /*--角丸--*/ 
    border: solid 2px #cccccc; /*--ボーダー線--*/
    font-weight:bolder;
    font-size:x-large;
    box-shadow: 20px 15px 20px -15px 	#001965;
}
  
/*矢印を消した(1/16変更)*/

#comment{
  text-align: center;
    font-weight:bolder;
    font-size:x-large;
}

  /*ご意見ボタン*/
  
  input[type="button"]{   
      
      width: 68%;
      padding: 20px; /*--余白--*/
      border-radius: 5px; /*--角丸--*/ 
      font-weight:bolder;
      font-size:xx-large;

      margin-bottom: 10%;
      box-shadow: 20px 15px 20px -15px 	#001965;
  
  }
     
  /*ボタンを押したとき*/
  input[type="button"]:active{
 
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
  
  /*mapのサイズを変更することは不可能であったため、ページのサイズから％で指定して調節した*/
  
  #map{
  
    width: 92%;
    height: 80%;
    margin-left: 4%;
    box-shadow: 20px 15px 20px -15px 	#4C4C4C;
    border: solid 2px black; /*--ボーダー線--*/
    
    }
    
      
    /*ここから下はAPIを使わないバージョンのために追記したもの（本来は必要なし）*/
  
    /*iframe {
    width: 100%;
    height: 100%;
  }
  */
  
   
  
  
  /*以下、検索機能とデフォルトマーカー表示機能のcss*/
  html,
  body {
    height: 70%;
    margin: 0;
    padding: 0;
  }
  
  #description {
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
  
    text-align: center;
  
    background-color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 40%;
    height: 45px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }
  
  /*ここから下はAPIを使わないバージョンのために追記したもの（本来は必要なし）*/
  
  iframe {
  width: 100%;
  height: 100%;
  }
  
  /*以下、サービス提供施設の一覧表示機能のcss*/
  
  #sampleTable2  th {
    border : 1px solid #666;
  }
  
  #sampleTable2  td {
    border : 1px solid #666;
  }
  
  .allNoDisplay2 tr:not(.colTitle) {
    display: none;
  }
  
 /*チェックボックスの部分*/  /*12/23更新*/
 input[type="checkbox"] {
  transform: scale(1.9); /*--チェックボックスの大きさ変更--*/
}

/*↓tableのrow(横並び)のような要素を形成する*/
  .kbaby2    tr[kbaby]{
    display: table-row;
  }
  
  .kuruma2  tr[kuruma]{
    display: table-row;
  }
  
  .knyutenok2   tr[knyutenok]{
    display: table-row;
  }
  
  .ksheet2   tr[ksheet]{
    display: table-row;
  }
  
  .dansang2   tr[dansang]{
    display: table-row;
  }
  
  .babyroom2   tr[babyroom]{
    display: table-row;
  }
  
  .kidsroom2   tr[kidsroom]{
    display: table-row;
  }
  
  .omutu2   tr[omutu]{
    display: table-row;
  }
  
  .kyukei2   tr[kyukei]{
    display: table-row;
  }
  
  .tesuri2   tr[tesuri]{
    display: table-row;
  }
  
  .osuto2   tr[osuto]{
    display: table-row;
  }
  
  .kyugo2   tr[kyugo]{
    display: table-row;
  }
  
  
  .categori{
    color: navy; /*カテゴリーの文字の色を変更*/
  }
  
  #ue{
    border-style:none;                              /*一番上のセルの背景色を変更*/
    background-color: rgb(224, 241, 252);    
  }
  
  /*--colTitle部分の色指定--*/
  .color1{
    background-color: #fdfdb2;
  }
  .color2{
    background-color: #ffebae;
  }
  .color3{
    background-color: #E5FFCC;
  }
  .color4{
    background-color: #f0d5fd;
  }
  
  /*一覧表示のテーブル*/
  
  #sortTable{
  
    text-align: left;    /*文字を左詰め*/
    font-size: 18px;    /*文字の大きさを指定*/  /*12/23更新*/
      
    width: 75%;
    
    display: block;
    overflow-y: scroll;
    overflow-x: scroll;
    /*right: 25%;
    height: 50%;         /*スクロールバーの表示(いらなければ消していい)*/
  
  }
  .btn,
#opinion_button.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 2%;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

#opinion_button.btn-border-shadow--radius {
  border-radius: 100vh;
}
#opinion_button.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

#opinion_button.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #000;
  border-radius: 0.5rem;
}

#opinion_button.btn-border-shadow--radius:before {
  border-radius: 100vh;
}

#opinion_button.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

#opinion_button.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}