ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
  form {
    background: #fff0f5;
    padding: 10px 10px;
    border-radius: 5px;
  }
  form ul {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="radio"] {
    display: none;
  }
  .brand input[type="radio"]:checked + label {
    background: #ff7bac; /* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
  }
  .size input[type="radio"]:checked + label {
    background: #3fa9f5; /* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
  }
  .type input[type="radio"]:checked + label {
    background: #fbb03b; /* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
  }
  .brand .label:hover {
    background-color: #f8c2d6; /* マウスオーバー時の背景色を指定する */
  }
  .size .label:hover {
    background-color: #e2edf9; /* マウスオーバー時の背景色を指定する */
  }
  .type .label:hover {
    background-color: #ffdfaa; /* マウスオーバー時の背景色を指定する */
  }
  
  .label {
    display: block; /* ブロックレベル要素化する */
    margin: 5px; /* ボックス外側の余白を指定する */
    width: 100px; /* ボックスの横幅を指定する */
    height: 45px; /* ボックスの高さを指定する */
    padding-left: 5px; /* ボックス内左側の余白を指定する */
    padding-right: 5px; /* ボックス内御右側の余白を指定する */
    text-align: center; /* テキストのセンタリングを指定する */
    line-height: 45px; /* 行の高さを指定する */
    cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
    border-radius: 25px; /* 角丸を指定する */
  }
  
  .brand .label {
    border: 2px solid #ff7bac; /* ボックスの境界線を実線で指定する */
    color: #008900; /* フォントの色を指定 */
  }
  .size .label {
    border: 2px solid #3fa9f5; /* ボックスの境界線を実線で指定する */
    color: #b20000; /* フォントの色を指定 */
  }
  .type .label {
    border: 2px solid #fbb03b; /* ボックスの境界線を実線で指定する */
    color: #0000b2; /* フォントの色を指定 */
  }
  
  .search-box_label {
    font-weight: bold;
  }
  .is-hide {
    display: none;
  }
  
  .list_toggle {
    display: none;
  }
  
  .under_line {
    width: 500px;
  }
  .search-box h2 {
    margin: 0;
  }
  
  .reset-button {
    width: 25%;
    margin: 20px auto 0;
    line-height: 30px;
    background: #ccc;
    border-radius: 25px;
    border: none;
    cursor: pointer;
  }
  .reset-button:hover {
    background: #999;
  }
  .nothing {
    display: none;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
  }
  .list li {
    width: 300px;
    height: 200px;
    padding: 20px;
    margin: auto;
    object-fit: cover;
  }
  
  .list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }