
#sampleTable2  th {
    border : 1px solid #666;
}

#sampleTable2  td {
    border : 1px solid #666;
}

.allNoDisplay2 tr:not(.colTitle) {
    display: none;
}

.kbaby2    tr[kbaby]{
    display: table-row;
}
  
.kuruma2  tr[kuruma]{
    display: table-row;
}
 
.knyutenok2   tr[knyutenok]{
    display: table-row;
}

.ksheet2   tr[ksheet]{
    display: table-row;
}

.dansang2   tr[dansang]{
    display: table-row;
}

.babyroom2   tr[babyroom]{
    display: table-row;
}

.kidsroom2   tr[kidsroom]{
    display: table-row;
}

.omutu2   tr[omutu]{
    display: table-row;
}

.kyukei2   tr[kyukei]{
    display: table-row;
}

.tesuri2   tr[tesuri]{
    display: table-row;
}

.osuto2   tr[osuto]{
    display: table-row;
}

.kyugo2   tr[kyugo]{
    display: table-row;
}


.categori{
    color: rgb(1, 145, 49);
}

#sorttable{
    text-align: left;
    font-size: 10px;

    width: 400px;
    height: 800px;
    display: block;
    overflow-y: scroll;
    overflow-x: scroll;

  
}